# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Diretório dos frames gerados
frames/

# Arquivos de configuração do sistema
.DS_Store
Thumbs.db

# Arquivos de saída
*.log
*.out
*.bak

# Arquivos de IDEs
.vscode/
.idea/

